@charset "UTF-8";
body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  color: #000000; }

img {
  max-width: 100%;
  width: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal; }

button {
  outline: none;
  cursor: pointer; }

a {
  text-decoration: none; }

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 1970px;
  overflow: hidden;
  margin: 0 auto; }

.countainer {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden; }

main {
  margin: 0 auto;
  margin-bottom: 40px; }

header {
  margin-bottom: 100px;
  height: 1100px;
  background-size: auto;
  background-image: url("../images/Layer 67.png");
  background-repeat: no-repeat;
  background-position: center; }
  header .logo {
    width: 146px;
    height: 146px;
    line-height: 146px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  header .navigation {
    padding-bottom: 227px;
    padding-top: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #FFFFFF; }
    @media (max-width: 731px) {
      header .navigation {
        padding-bottom: 20px; } }
    @media (max-width: 300px) {
      header .navigation {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 10px; } }
    header .navigation a {
      color: #FFFFFF; }

@media (max-width: 731px) {
  .navn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.navn li {
  padding-top: 67px;
  font-size: 18px;
  font-weight: 400;
  padding-right: 39px; }
  @media (max-width: 1000px) {
    .navn li {
      padding-right: 10px; } }
  @media (max-width: 731px) {
    .navn li {
      padding-top: 10px; } }
  .navn li a:hover {
    color: black;
    font-weight: 600; }

#pad {
  padding-right: 0; }

.swiper-container {
  color: #FFFFFF; }
  .swiper-container h1 {
    font-weight: 600;
    font-size: 60px; }
  .swiper-container h2 {
    font-weight: 300;
    font-size: 48px; }
  .swiper-container h3 {
    padding-bottom: 96px; }
  .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px; }
    .swiper-container .swiper-slide a {
      margin-bottom: 131px;
      width: 160px;
      height: 42px;
      color: #FFFFFF;
      background-color: #f39c12;
      font-size: 15px;
      display: inline-block;
      line-height: 42px; }
  .swiper-container .swiper-pagination-bullet-active {
    background: #FFFFFF; }
  .swiper-container .swiper-pagination-bullet {
    background: #FFFFFF; }

.about {
  max-width: 1022px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 148px; }
  .about h2 {
    font-weight: bold;
    font-size: 30px; }
  .about .orange-line {
    width: 4px;
    height: 45px;
    background-color: #f39c12;
    margin-left: 19px;
    margin-right: 17px; }
  .about p {
    max-width: 900px;
    font-size: 16px;
    color: #4d4d4d; }

.our-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .our-story .text-1 {
    max-width: 504px; }
    .our-story .text-1 h2 {
      text-align: justify;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 14px; }
    .our-story .text-1 h3 {
      margin-bottom: 27px;
      font-size: 20px;
      color: #e74c3c; }
    .our-story .text-1 p {
      font-size: 19px;
      color: #7c7c7c; }

.icon {
  text-align: center;
  width: 121px;
  height: 121px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  line-height: 148px; }

.horizon-line {
  margin: 120px auto;
  max-width: 1170px;
  height: 2px;
  background-color: #e6e6e6; }

.info2 {
  max-height: 489px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .info2 .iphone {
    margin: auto 23px; }
  .info2 .our-skills {
    max-width: 556px; }
    .info2 .our-skills .our-skills-text {
      margin-bottom: 70px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .info2 .our-skills .our-skills-text .icon {
        margin-right: 30px; }
      .info2 .our-skills .our-skills-text .icon-text {
        max-width: 386px; }
        .info2 .our-skills .our-skills-text .icon-text h2 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 15px; }
        .info2 .our-skills .our-skills-text .icon-text p {
          font-size: 16px;
          color: #7c7c7c; }
    .info2 .our-skills .our-skills-info {
      margin-bottom: 30px; }
      .info2 .our-skills .our-skills-info .procent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 14px; }
        .info2 .our-skills .our-skills-info .procent h3 {
          font-size: 16px;
          font-weight: bold; }
        .info2 .our-skills .our-skills-info .procent span {
          color: #7c7c7c;
          font-size: 16px;
          margin: auto 6px; }
        .info2 .our-skills .our-skills-info .procent p {
          font-size: 16px; }
      .info2 .our-skills .our-skills-info .procent-line1 {
        max-width: 553px;
        height: 10px;
        background-color: #f39c12;
        border-right: 66px solid #e6e6e6; }
      .info2 .our-skills .our-skills-info .procent-line2 {
        max-width: 553px;
        height: 10px;
        background-color: #f39c12;
        border-right: 133px solid #e6e6e6; }
      .info2 .our-skills .our-skills-info .procent-line3 {
        max-width: 553px;
        height: 10px;
        background-color: #f39c12;
        border-right: 105px solid #e6e6e6; }
      .info2 .our-skills .our-skills-info .procent-line4 {
        max-width: 553px;
        height: 10px;
        background-color: #f39c12;
        border-right: 161px solid #e6e6e6; }

.quotes {
  margin-bottom: 100px;
  background-image: url("../images/Layer 68.png");
  background-position: center;
  background-repeat: no-repeat; }
  .quotes .quote {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 257px 0;
    text-align: center;
    line-height: 1.1; }
    .quotes .quote h2 {
      position: relative;
      font-size: 45px;
      font-weight: bold; }
    .quotes .quote span {
      display: block;
      font-size: 110px;
      font-weight: bold;
      position: absolute; }
    .quotes .quote p {
      font-size: 24px; }
    .quotes .quote .orange-line-horiz {
      width: 50px;
      height: 4px;
      background-color: #f39c12;
      margin: 40px auto 18px; }

.rotative {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg); }

.left {
  left: 72px; }

.right {
  top: -87px;
  right: 72px; }

.info3 {
  margin-bottom: 100px; }
  .info3 .about {
    margin-bottom: 150px; }

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .team .person {
    border-top: 4px solid #ffffff;
    width: 269px;
    height: 466px;
    text-align: center; }
    .team .person .face {
      margin: 30px auto;
      width: 200px;
      height: 200px;
      text-align: center;
      border: 1px solid #e7e7e7;
      border-radius: 50%;
      background-color: #f2f2f2;
      vertical-align: 200px; }
      .team .person .face img {
        padding-top: 6px; }
    .team .person h2 {
      font-size: 20px;
      font-weight: bold; }
    .team .person h3 {
      font-size: 15px;
      color: #a5a5a5; }
    .team .person span {
      display: block;
      width: 20px;
      height: 4px;
      margin: 11px auto 16px;
      background-color: #cccccc; }
    .team .person p {
      font-size: 15px;
      color: #7c7c7c;
      margin: 0 19px 25px; }
    .team .person .links {
      margin-bottom: 31px; }
      .team .person .links .orange-l {
        background-image: url("../images/linkedin.png");
        background-repeat: no-repeat; }
      .team .person .links .orange-t {
        background-image: url("../images/twitter.png");
        background-repeat: no-repeat; }
      .team .person .links .orange-f {
        padding-right: 4px;
        background-image: url("../images/facebook.png");
        background-repeat: no-repeat; }
      .team .person .links .orange-d {
        background-image: url("../images/dribbble.png");
        background-repeat: no-repeat; }
      .team .person .links .orange-g {
        background-image: url("../images/google+.png");
        background-repeat: no-repeat; }
      .team .person .links .orange-l:hover {
        background-image: url("../images/linkedinorange.png"); }
      .team .person .links .orange-t:hover {
        background-image: url("../images/twitterorange.png"); }
      .team .person .links .orange-f:hover {
        background-image: url("../images/facebookorange.png"); }
      .team .person .links .orange-d:hover {
        background-image: url("../images/dribbbleorange.png"); }
      .team .person .links .orange-g:hover {
        background-image: url("../images/google+orange.png"); }
      .team .person .links a {
        width: 18px;
        height: 18px;
        padding-right: 11px;
        display: inline-block; }
  .team .person:hover {
    background-color: #f0f0f0;
    border-top: 4px solid #f39c12; }
    .team .person:hover span {
      background-color: #e74c3c; }

.numbers {
  margin-bottom: 100px;
  height: 700px;
  background-image: url("../images/Layer 68.png");
  background-position: center;
  background-repeat: no-repeat; }
  .numbers .numbers-cir {
    padding-top: 194px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .numbers .numbers-cir .сoffeees {
      height: 270px;
      width: 170px;
      text-align: center; }
      .numbers .numbers-cir .сoffeees:hover .coffees-circle {
        border: 2px solid #FFFFFF;
        background-image: url("../images/cup.png"); }
      .numbers .numbers-cir .сoffeees .coffees-circle {
        width: 166px;
        height: 166px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        background-image: url("../images/cup-orange.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 33px; }
      .numbers .numbers-cir .сoffeees h2 {
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.8; }
      .numbers .numbers-cir .сoffeees p {
        line-height: 0.8;
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF; }
    .numbers .numbers-cir .Projects {
      height: 270px;
      width: 170px;
      text-align: center; }
      .numbers .numbers-cir .Projects:hover .Projects-circle {
        border: 2px solid #FFFFFF;
        background-image: url("../images/stack.png"); }
      .numbers .numbers-cir .Projects .Projects-circle {
        width: 166px;
        height: 166px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        background-image: url("../images/stack-orange.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 33px; }
      .numbers .numbers-cir .Projects h2 {
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.8; }
      .numbers .numbers-cir .Projects p {
        line-height: 0.8;
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF; }
    .numbers .numbers-cir .Clients {
      height: 270px;
      width: 170px;
      text-align: center; }
      .numbers .numbers-cir .Clients:hover .Clients-circle {
        border: 2px solid #FFFFFF;
        background-image: url("../images/user.png"); }
      .numbers .numbers-cir .Clients .Clients-circle {
        width: 166px;
        height: 166px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        background-image: url("../images/user-orange.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 33px; }
      .numbers .numbers-cir .Clients h2 {
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.8; }
      .numbers .numbers-cir .Clients p {
        line-height: 0.8;
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF; }
    .numbers .numbers-cir .Awards {
      height: 270px;
      width: 170px;
      text-align: center; }
      .numbers .numbers-cir .Awards:hover .Awards-circle {
        border: 2px solid #FFFFFF;
        background-image: url("../images/like.png"); }
      .numbers .numbers-cir .Awards .Awards-circle {
        width: 166px;
        height: 166px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        background-image: url("../images/like-orange.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 33px; }
      .numbers .numbers-cir .Awards h2 {
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.8; }
      .numbers .numbers-cir .Awards p {
        line-height: 0.8;
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF; }

.info4 .about {
  max-width: 1060px;
  margin-bottom: 150px; }

.info4 .dede {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 115px; }
  .info4 .dede .desiging {
    max-width: 367px;
    text-align: center; }
    .info4 .dede .desiging:hover .desiging-circle {
      background-color: #f39c12;
      background-image: url("../images/star-white.png"); }
    .info4 .dede .desiging h2 {
      margin: 25px 0;
      font-size: 20px;
      line-height: 0.8;
      font-weight: bold; }
    .info4 .dede .desiging p {
      font-size: 16px;
      color: #7c7c7c; }
    .info4 .dede .desiging .desiging-circle {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 2px solid #f39c12;
      border-radius: 50%;
      background-image: url("../images/star.png");
      background-repeat: no-repeat;
      background-position: center; }
  .info4 .dede .desiging2 {
    max-width: 367px;
    text-align: center; }
    .info4 .dede .desiging2:hover .desiging-circle2 {
      background-color: #f39c12;
      background-image: url("../images/lab-white.png"); }
    .info4 .dede .desiging2 h2 {
      margin: 25px 0;
      font-size: 20px;
      line-height: 0.8;
      font-weight: bold; }
    .info4 .dede .desiging2 p {
      font-size: 16px;
      color: #7c7c7c; }
    .info4 .dede .desiging2 .desiging-circle2 {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 2px solid #f39c12;
      border-radius: 50%;
      background-image: url("../images/lab.png");
      background-repeat: no-repeat;
      background-position: center; }
  .info4 .dede .desiging3 {
    max-width: 367px;
    text-align: center; }
    .info4 .dede .desiging3:hover .desiging-circle3 {
      background-color: #f39c12;
      background-image: url("../images/world-white.png"); }
    .info4 .dede .desiging3 h2 {
      margin: 25px 0;
      font-size: 20px;
      line-height: 0.8;
      font-weight: bold; }
    .info4 .dede .desiging3 p {
      font-size: 16px;
      color: #7c7c7c; }
    .info4 .dede .desiging3 .desiging-circle3 {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border: 2px solid #f39c12;
      border-radius: 50%;
      background-image: url("../images/world.png");
      background-repeat: no-repeat;
      background-position: center; }

.prices {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .prices .packege {
    max-height: 300px;
    text-align: left;
    max-width: 311px; }
    .prices .packege:hover .price-circle {
      background-color: #f39c12; }
    .prices .packege .price-circle {
      width: 121px;
      height: 121px;
      border: 2px solid #f39c12;
      border-radius: 50%;
      background-image: url("../images/banknote.png");
      background-repeat: no-repeat;
      background-position: center; }
    .prices .packege h2 {
      font-size: 20px;
      line-height: 0.8;
      margin: 27px 0;
      font-weight: bold; }
    .prices .packege p {
      font-size: 16px;
      color: #7c7c7c; }
  .prices table {
    width: 748px;
    height: 428px;
    text-align: center;
    border: 1px solid #cccccc;
    border-collapse: collapse; }
    .prices table .orange-line-horiz {
      width: 50px;
      height: 2px;
      background-color: #f39c12;
      margin: 0 auto; }
    .prices table .gold {
      border-top: 16px solid #f39c12;
      background-color: #f39c12;
      color: #FFFFFF; }
      .prices table .gold .orange-line-horiz {
        background-color: #FFFFFF; }
      .prices table .gold h2 {
        letter-spacing: 1px; }
    .prices table .gold1 {
      background-color: #e6e6e6;
      border: none; }
    .prices table .gold2 {
      background-color: #f2f2f2;
      border: none; }
    .prices table .gold3 {
      border: none;
      background-color: #e6e6e6;
      border-bottom: 10px solid #e6e6e6; }
    .prices table .column1 {
      border-right: none; }
    .prices table .column3 {
      border-left: none; }
    .prices table h2 {
      line-height: 0.8;
      margin: 14px 0;
      font-size: 22px;
      font-weight: bold; }
    .prices table .first-tr {
      background-color: #fafafa; }
    .prices table td {
      font-size: 15px;
      color: #7c7c7c;
      border: 1px solid #cccccc; }
      .prices table td a {
        background-color: #fafafa;
        margin: 34px 0;
        color: black;
        display: inline-block;
        width: 126px;
        height: 34px;
        border: 2px solid #f39c12;
        font-size: 14px;
        font-weight: 600;
        line-height: 34px; }
        .prices table td a:hover {
          background-color: #f39c12; }

.quotes2 {
  margin-bottom: 100px;
  background-image: url("../images/Layer 68.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px; }
  .quotes2 .swiper-container {
    padding-top: 200px; }
    .quotes2 .swiper-container .swiper-slide {
      text-align: center; }
      .quotes2 .swiper-container .swiper-slide h2 {
        font-size: 24px;
        font-weight: bold; }
      .quotes2 .swiper-container .swiper-slide p {
        margin: 0 auto 30px;
        max-width: 856px;
        line-height: 36px;
        font-size: 22px;
        font-style: italic;
        font-weight: 100; }
      .quotes2 .swiper-container .swiper-slide .orange-line-horiz {
        width: 50px;
        height: 4px;
        background-color: #f39c12;
        margin: 18px auto 38px; }
      .quotes2 .swiper-container .swiper-slide .selfie {
        margin-bottom: 26px; }
    .quotes2 .swiper-container .swiper-pagination {
      bottom: 0;
      width: 100%; }

.info5 .about {
  max-width: 1088px; }

.info5 .swiper-container {
  margin-bottom: 50px; }
  .info5 .swiper-container .swiper-pagination {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 95%;
    bottom: 48%;
    width: 61px; }
    .info5 .swiper-container .swiper-pagination .swiper-pagination-bullet {
      margin: 0 2px;
      width: 12px;
      height: 12px; }

.info5 .buttons-text {
  text-align: center; }
  .info5 .buttons-text h2 {
    font-size: 19px;
    font-weight: bold; }
  .info5 .buttons-text p {
    font-size: 14px;
    color: #808080; }

.info5 .buttons {
  margin: 0 auto;
  width: 114px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .info5 .buttons .swiper-button-next {
    background-image: none;
    position: static;
    margin-top: 0; }
  .info5 .buttons .swiper-button-prev {
    background-image: none;
    position: static;
    margin-top: 0; }
  .info5 .buttons button {
    line-height: 23px;
    width: 31px;
    height: 27px;
    background: #FFFFFF;
    border: 2px solid #e6e6e6;
    margin: 0 5px 25px; }

.allwork .nav2 {
  max-width: 730px;
  margin: 0 10px 80px; }
  .allwork .nav2 li {
    color: #a6a6a6;
    font-size: 14px;
    font-weight: bold; }
    .allwork .nav2 li a {
      color: black; }
    .allwork .nav2 li #allwor {
      color: #f39c12; }

.allwork .projects {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .allwork .projects a:hover .photo1 {
    background-image: url("../images/3 hover.png"); }
  .allwork .projects a:hover .photo2 {
    background-image: url("../images/3 hover.png"); }
  .allwork .projects a:hover h2 {
    color: #f39c12; }
  .allwork .projects h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 5px;
    color: black; }
  .allwork .projects p {
    font-size: 14px;
    color: #7c7c7c;
    font-weight: bold;
    margin-bottom: 20px; }
  .allwork .projects .photo1 {
    background-image: url("../images/Rectangle 87 copy.png");
    width: 292px;
    height: 230px;
    background-size: 100%;
    background-position: center; }
  .allwork .projects .photo2 {
    background-image: url("../images/Rectangle 87 dark.png");
    width: 292px;
    height: 230px;
    background-size: 100%;
    background-position: center; }

.quotes3 {
  margin-bottom: 100px;
  height: 700px;
  background-image: url("../images/Layer 68.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF; }
  .quotes3 .countainer {
    padding-top: 239px; }
  .quotes3 .twit {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background-image: url("../images/twitterorange.png");
    background-repeat: no-repeat;
    background-position: center;
    line-height: 100px;
    margin: 0 auto 36px; }
  .quotes3 h2 {
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    max-width: 829px;
    margin-bottom: 22px; }
    .quotes3 h2 a {
      color: #f39c12; }
  .quotes3 p {
    font-size: 16px;
    font-style: italic;
    color: rgba(124, 124, 124, 0.65); }

.info6 .about {
  margin-bottom: 150px; }

.info6 .comments {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .info6 .comments .comment {
    width: 555px;
    height: 506px; }
    .info6 .comments .comment .comment-photo {
      height: 300px;
      width: 555px;
      background-image: url("../images/Rectangle 137.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative; }
      .info6 .comments .comment .comment-photo .comment-icon {
        position: absolute;
        bottom: 0;
        right: 445px; }
      .info6 .comments .comment .comment-photo .comment-info {
        width: 445px;
        height: 60px;
        background-color: #FFFFFF;
        position: absolute;
        right: 0;
        bottom: 0; }
        .info6 .comments .comment .comment-photo .comment-info h2 {
          font-size: 20px;
          font-weight: bold;
          padding-top: 23px;
          padding-left: 20px; }
    .info6 .comments .comment .comment-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .info6 .comments .comment .comment-text .data {
        color: #7c7c7c;
        font-size: 13px;
        width: 90px;
        text-align: right; }
      .info6 .comments .comment .comment-text .main-comment {
        width: 445px; }
        .info6 .comments .comment .comment-text .main-comment p {
          font-size: 16px;
          color: #7c7c7c;
          padding-left: 25px;
          margin-bottom: 30px; }
        .info6 .comments .comment .comment-text .main-comment a {
          margin-left: 25px;
          width: 100px;
          height: 30px;
          border: 2px solid #f39c12;
          line-height: 30px;
          color: black;
          text-align: center;
          font-size: 13px;
          font-weight: bold;
          display: inline-block; }
          .info6 .comments .comment .comment-text .main-comment a:hover {
            background-color: #f39c12;
            color: #FFFFFF; }

.our-clients {
  background-image: url("../images/Layer 68.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  margin-bottom: 100px; }
  .our-clients .countainer {
    padding-top: 209px;
    text-align: center; }
    .our-clients .countainer h2 {
      color: #FFFFFF;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 55px; }
    .our-clients .countainer .ckient-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-height: 162px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .our-clients .countainer .ckient-icon a {
        line-height: 221px;
        width: 254px;
        height: 158px;
        border: 2px solid rgba(124, 124, 124, 0.65); }
      .our-clients .countainer .ckient-icon .position {
        position: relative; }
        .our-clients .countainer .ckient-icon .position .position1 {
          position: absolute;
          top: -20px;
          left: 0; }
      .our-clients .countainer .ckient-icon .positio {
        position: relative; }
        .our-clients .countainer .ckient-icon .positio .position2 {
          position: absolute;
          top: -21px;
          left: 0; }

.info7 .about {
  max-width: 1080px; }
  .info7 .about p {
    max-width: 884px; }

.registration {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .registration h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .registration .massage {
    margin-right: 60px;
    width: 620px; }
    .registration .massage input {
      outline: none; }
    .registration .massage textarea {
      outline: none; }
    .registration .massage button {
      width: 126px;
      height: 34px;
      border: 2px solid #f39c12;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      background-color: #FFFFFF;
      outline: none; }
    .registration .massage .name-mail {
      margin-bottom: 10px;
      padding-left: 26px;
      width: 590px;
      border: 2px solid #d9d9d9;
      background-image: url("../images/user-gray.png");
      background-repeat: no-repeat;
      background-position: right 28px top 12px;
      height: 41px;
      font-size: 15px;
      color: #808080; }
      .registration .massage .name-mail:focus {
        border-color: #f39c12;
        background-image: url("../images/userr.png"); }
      .registration .massage .name-mail:hover {
        border-color: #f39c12;
        background-image: url("../images/userr.png"); }
    .registration .massage .name-mail2 {
      margin-bottom: 10px;
      padding-left: 26px;
      width: 590px;
      border: 2px solid #d9d9d9;
      background-image: url("../images/mail-gray.png");
      background-repeat: no-repeat;
      background-position: right 29px top 16px;
      height: 41px;
      font-size: 15px;
      color: #808080; }
      .registration .massage .name-mail2:focus {
        border-color: #f39c12;
        background-image: url("../images/mail.png"); }
      .registration .massage .name-mail2:hover {
        border-color: #f39c12;
        background-image: url("../images/mail.png"); }
    .registration .massage .name-mail3 {
      font-family: "Open Sans", sans-serif;
      margin-bottom: 22px;
      padding-top: 16px;
      padding-right: 49px;
      padding-left: 26px;
      width: 541px;
      border: 2px solid #d9d9d9;
      background-image: url("../images/pen-gray.png");
      background-repeat: no-repeat;
      background-position: right 29px top 13px;
      height: 105px;
      font-size: 15px;
      resize: none;
      color: #808080; }
      .registration .massage .name-mail3:focus {
        border-color: #f39c12;
        background-image: url("../images/pen.png"); }
      .registration .massage .name-mail3:hover {
        border-color: #f39c12;
        background-image: url("../images/pen.png"); }
  .registration .contact {
    max-width: 469px; }
    .registration .contact p {
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 30px;
      font-family: "Open Sans", sans-serif;
      color: #a2a2a2; }
    .registration .contact a {
      color: black; }
    .registration .contact .contact-link {
      font-size: 16px; }
      .registration .contact .contact-link span {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        margin-right: 20px;
        margin-bottom: 8px; }
      .registration .contact .contact-link .line img {
        margin-top: 5px; }

.maps {
  padding: 34px 0 0;
  margin: 0 auto;
  max-width: 1970px;
  position: relative;
  height: 600px;
  overflow: hidden; }
  .maps .map {
    margin: 0 auto;
    margin-bottom: 150px;
    height: 523px;
    position: relative;
    overflow: hidden;
    left: -133px;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    width: 3000px; }
    .maps .map .map-transform {
      position: absolute;
      left: -1180px;
      top: -100px;
      -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg); }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 70px; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .copyright .gray-line {
      margin: auto 12px;
      width: 2px;
      height: 14px;
      background-color: #a6a6a6; }
  footer nav li {
    margin-right: 23px; }
  footer nav #twit {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/twitter1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #twit:hover {
      background-image: url("../images/twitter1-orange.png"); }
  footer nav #face {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/facebook1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #face:hover {
      background-image: url("../images/facebook1-orange.png"); }
  footer nav #link {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/linkedin1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #link:hover {
      background-image: url("../images/linkedin1-orange.png"); }
  footer nav #dribb {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/dribbble1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #dribb:hover {
      background-image: url("../images/dribbble1-orange.png"); }
  footer nav #pinte {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/pinterest1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #pinte:hover {
      background-image: url("../images/pinterest1-orange.png"); }
  footer nav #goog {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/google+1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #goog:hover {
      background-image: url("../images/google+1-orange.png"); }
  footer nav #rss {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/rss1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #rss:hover {
      background-image: url("../images/rss1-orange.png"); }
  footer nav #pinte {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/pinterest1.png");
    background-repeat: no-repeat;
    background-position: center; }
    footer nav #pinte:hover {
      background-image: url("../images/pinterest1-orange.png"); }

@media (max-width: 1155px) {
  .quotes .quote span {
    display: none; } }

@media (max-width: 978px) {
  .swiper-container h2 {
    font-size: 18px; }
  .swiper-container h1 {
    font-size: 30px; }
  .swiper-container h3 {
    padding-bottom: 54px; }
  .swiper-container .swiper-slide a {
    margin-bottom: 73px; }
  .our-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .info2 {
    max-height: 100%;
    display: block;
    margin: 0 15px; }
    .info2 .our-skills {
      margin-top: 15px; }
  .info4 .dede {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 15px; }
    .info4 .dede .desiging2 {
      margin: 10px 0; } }

@media (max-width: 880px) {
  footer {
    font-size: 8px; }
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 10px; }
  .maps .map {
    margin: 0 auto;
    margin-bottom: 150px;
    height: 394px;
    position: relative;
    overflow: hidden;
    left: -601px; } }

@media (max-width: 770px) {
  .info6 {
    display: none; }
  .numbers {
    display: none; }
  .our-clients {
    display: none; }
  .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .prices table {
      margin: 10px;
      width: auto;
      height: auto;
      max-width: 748px;
      max-height: 428px; }
    .prices .packege {
      text-align: center;
      margin: 0 auto; }
      .prices .packege .price-circle {
        margin: 0 auto; }
  .info5 .swiper-container .swiper-pagination {
    left: 95%; } }

@media (max-width: 650px) {
  .about p {
    font-size: 9px; }
  .about h2 {
    font-weight: bold;
    font-size: 18px; }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  footer nav li {
    margin-right: 2px; }
  footer .copyright {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .registration .massage .name-mail {
    padding-right: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 99px;
    border: 2px solid #d9d9d9;
    background-image: url(../images/user-gray.png);
    background-repeat: no-repeat;
    background-position: right 9px top 12px; }
  .registration .massage .name-mail2 {
    padding-right: 33px;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 99px;
    border: 2px solid #d9d9d9;
    background-repeat: no-repeat;
    background-position: right 9px top 16px;
    height: 41px;
    font-size: 15px;
    color: #808080; }
  .registration .massage {
    width: 200px; }
  .registration .massage .name-mail3 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 22px;
    padding-top: 16px;
    padding-right: 34px;
    padding-left: 9px;
    width: 200px;
    border: 2px solid #d9d9d9;
    background-image: url(../images/pen-gray.png);
    background-repeat: no-repeat;
    background-position: right 11px top 13px;
    height: 80px;
    font-size: 15px;
    resize: none;
    color: #808080; }
  .registration .massage button {
    margin-bottom: 20px; } }

@media (max-width: 498px) {
  .registration .contact .contact-link span {
    line-height: 34px; }
  footer {
    font-size: 5px; }
  .info2 .our-skills .our-skills-text .icon {
    display: none; }
  .allwork .nav2 li {
    color: #a6a6a6;
    font-size: 10px; }
  .info5 .swiper-container .swiper-pagination {
    left: 87%; }
  .prices table td a {
    background-color: #fafafa;
    margin: 34px 0;
    color: black;
    display: inline-block;
    width: auto;
    height: auto;
    border: 2px solid #f39c12;
    font-size: 10px;
    padding: 5px;
    font-weight: 600;
    line-height: normal; } }

@media (max-width: 360px) {
  .quotes3 h2 {
    margin: 0 auto;
    font-size: 15px; }
  .allwork .nav2 li {
    color: #a6a6a6;
    font-size: 8px; }
  .quotes2 .swiper-container .swiper-slide p {
    font-size: 11px; }
  .quotes2 .swiper-container .swiper-slide h2 {
    font-size: 18px; }
  .info5 .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px; }
  .registration .contact .contact-link {
    font-size: 10px; }
  .registration h2 {
    margin-bottom: 0; }
  .registration .contact p {
    font-size: 12px; }
  .info5 .swiper-container .swiper-pagination {
    left: 83%; } }
